[2013-10-15 18:39] TimWolla opened #2 "index.html is missing a title"
The homepage (http://government.github.com/) is missing contents in `<title>`, which leads to an ugly display of the URL in the tab in Firefox.

[2013-10-15 19:01] #2 closed, assigned to nobody

[2013-10-15 19:01] benbalter commented on #2
Great catch. Thanks for taking the time to open an issue. Should be fixed momentarily.

[2013-10-15 19:02] bringhurst opened #10 "Support for accounts that represent multiple agencies"
I'm not sure how this would be implemented, but there are github accounts that are used by several agencies. For example, https://github.com/hpc is used by lanl.gov, llnl.gov, sandia.gov, ornl.gov, and others.

[2013-10-15 19:05] TimWolla commented on #2
You're welcome!

[2013-10-15 19:25] bringhurst commented on #10
Pull request to add the hpc account without associating with an agency is at #14

[2013-10-15 22:11] patcon opened #28 "List "Web Experience Toolkit" org as Canadian initiative"
While not a specific department, could easily be listed here:
http://government.github.com/community/

https://github.com/wet-boew-wem

Ref: http://www.obj.ca/Opinion/2012-11-15/article-3121167/Drupal-gains-popularity-within-government-ranks/1

cc: @sylus

[2013-10-16 02:27] patcon commented on #28
Aaaaaand I just saw this:
http://government.github.com/stories/canadian-web-experience-toolkit/

Whoop!

[2013-10-16 02:27] #28 closed, assigned to nobody

[2013-10-16 02:52] nschonni opened #44 "Add commenting system for posts"
Maybe Disqus or something similar?

[2013-10-16 05:31] afeld commented on #44
I have mixed feelings about this.  More tech-savvy readers will be able to submit corrections, additional resources, etc. via Pull Requests and Issues, so I feel like a comment box will simply invite less-constructive feedback.  If people have meaningful suggestions about how a particular policy or whatever could be handled differently, those are more appropriate for those individual repos anyway.

[2013-10-16 14:31] muescha opened #54 "community page should more a list style"
http://government.github.com/community/ should be more a list styel with the name of the organization additionaly - not only the logo

it gives a better overview

PS: for accessibilty is list also better

[2013-10-16 16:50] obfusk opened #60 "2 small errors"
1. the /about page talks about "export restorations";
2. the link to github.com at the bottom of the pages links to status.github.com instead.

\- Felix

[2013-10-16 18:11] benbalter opened #65 "Slick 404 page"
Perhaps with an automatic search based on the url.

Should just live at `/404.html`.

[2013-10-16 18:54] benbalter opened #69 "Move contribute box to sidebar of story page"
Placed similar to the "more resources" box on supporting pages.

![screen_shot_2013-10-16_at_11 53 41_am](https://f.cloud.github.com/assets/282759/1345726/61ce5912-3694-11e3-8f6f-557d4bcee777.png)

Tried to do it, but couldn't quite get it right.

Halp?

[2013-10-16 19:22] jlord commented on #69
Np! I'm on it!

[2013-10-16 21:01] nschonni opened #75 "How should the levels of government be laid out"
Not to promote silos :trollface: but ...
There is currently a slight disconnect with US splitting between Federal, State, county, and City vs. the rest of the world.
1. Each country splitting between levels (with separate h2's and grids?)
   - Country/Federal
     - Country A
   - State/Province
     - Washington
     - Ontario
   - City/County
     - ...
2. Country as the high level
   - US

[2013-10-16 21:35] afeld commented on #75
While it's good to recognize this structure, I don't know that it covers the full range, either.  See #21.

I imagine that, down the road, it would be nice to have some sort of tagging/filtering system for level, location, and maybe even focus of the organization.

[2013-10-16 21:50] nschonni commented on #75
No, it's definitely not an exhaustive list, but just 2 possible top level headings. The civic hacker folks may want some distinct levels too ...
Maybe use something like DataTables for a sortable view http://wet-boew.github.io/wet-boew/demos/tables/tables-en.html#inisort

[2013-10-16 21:58] #60 closed, assigned to nobody

[2013-10-16 23:06] #69 closed, assigned to jlord

[2013-10-16 23:19] jlord commented on #75
I'm definitely learning it's a lot more complex than how we organized it originally. Agree @nschonni that we may end up needing to make distinctions between civic hackers, too.

Let's keep watching as groups trickle in and definitely dream up a better way to showcase all the orgs.

[2013-10-16 23:28] jlord commented on #54
@muescha I agree there should be another iteration on the /community page. We're learning there are so many more orgs and divisions than we imagined.

I definitely want the page to useful and accessible so am going to let some more pull requests from orgs come in to get a better sense of the breadth of orgs and iterate on making the page better.

For now, if you hover over the image, it will show

[2013-10-16 23:32] nschonni commented on #54
@jlord :+1: for the alt tag, but could it pull the GitHub `fullname` property instead?

[2013-10-17 00:26] nschonni opened #84 "Translations of site"
Since this is highlighting international work, it may be a good idea to look into crowdsourcing some translations

[2013-10-17 01:39] nschonni opened #87 "Add rotator to blog post categories"
This would mitigate the concerns raised by @jlord here https://github.com/github/government.github.com/pull/36#issuecomment-26461855 about stories getting pushed off the front page too quickly.

[2013-10-17 14:37] nschonni opened #101 "Add metadata template to Contributing.md"
Should include the recommended/required YAML section for the posts

[2013-10-17 20:38] benbalter commented on #54
Right now, the only information we have is the org name, via `_config.yml`, and I'd love to keep it that simple, if possible.

We definitely can and should continue to improve the experience. For insight, part of the original vision was the effect of having a wall of logos to show just how large the community is.

[2013-10-17 20:39] benbalter commented on #84
All for that. Just need to figure out the best way. See https://github.com/github/choosealicense.com/issues/68 for some insight.

@parkr, any (new) thoughts here? Perhaps the `_data` folder?

[2013-10-17 20:42] nschonni commented on #54
KISS :smile:, not sure how hard it would be to use the GitHub API to get the info when _config.yml gets converted to the organization JSON file

[2013-10-17 20:49] parkr commented on #84
Yep, or a new custom liquid tag like `{% localize lang KEY %}`.

[2013-10-17 20:50] benbalter commented on #101
Great idea. Want to take a pass at it?

[2013-10-17 21:14] StephenOTT opened #110 "Add section on Open Data Websites"
Add section on Open Data Websites and related repos.

Subsection/Partner section would contain list of repos on GitHub that leverage the specific Open data sources.

Potential stories would include apps, mobile apps, data scrapers, open data platforms like CKAN (http://ckan.org) and DKAN (https://drupal.org/project/dkan), visualization tools, news stories that occurred about the work being done, e

[2013-10-17 22:06] benbalter commented on #75
Now's definitely the right time to start this discussion, although I'd think we'd want to hold off a bit before making any changes. The question I keep asking is "what are we trying to solve for?"
- Help like-minded organizations to find each other
- Help citizens to quickly and easily find organizations relevant to their location / interests
- Make an extremely powerful graphic / statement about

[2013-10-18 01:16] smathermather commented on #75
Added Special District in order to add Cleveland Metroparks, which I know isn't common, but we didn't fit in any other category.  "Local" might be a more flexible category.

[2013-10-18 02:21] nschonni commented on #75
:bulb: like #101 we could add a folder with specific frontmatter

[code]

I think using a JSON file for the Countries would make more sense https://github.com/prose/prose/wiki/Prose-Configuration#select--multiselect

[2013-10-18 08:51] muescha commented on #54
just now the github userpage dont give much information about the organisation

[2013-10-21 23:36] #65 closed, assigned to nobody

[2013-10-22 17:56] benbalter opened #137 "Heading on /community page should be anchors for better linkifications"
Just a matter of adding ID's to each block, I believe.

[2013-10-22 18:20] #137 closed, assigned to nobody

[2013-10-25 12:13] benbalter opened #148 "Submit your story page doesn't link out to style guide"

[2013-10-26 15:05] XhmikosR opened #151 "Reduce http requests and redirects"
Initially mentioned here  https://github.com/github/government.github.com/pull/127#issuecomment-27144625.

There are so many http requests ~320. And most of them are because of redirects from github to gravatar.

Now since most organizations in `#orgs` are hidden with `overflow: hidden;`, they shouldn't be in index.html in the first place IMHO.

Another approach would be to use a css sprite but th

[2013-10-26 17:04] XhmikosR commented on #151
I experimented a little bit with this but I can't make it work...

[code]

I used `limit: 60` since we have 5 rows with 12 columns each.

There must be some way to do this but I can't figure it out yet.

[2013-10-27 15:20] benbalter opened #155 "Tests fail"
https://travis-ci.org/github/government.github.com/builds/13034676

@gjtorikian any insight what we're doing wrong? `data-proofer-ignore` doesn't seem to be ignored.

[2013-10-27 15:29] benbalter commented on #155
Just kidding. https://github.com/github/government.github.com/commit/a6fdab30ed1abb9f819c13605dba2930c00c1ad7 fixes.

[2013-10-27 15:29] #155 closed, assigned to nobody

[2013-10-27 16:03] XhmikosR commented on #151
If I do this it works...

[code]

@benbalter: what do you think of this approach? I just don't get what `10` is supposed to be in reality. I would expect `60` to work too.

[2013-10-28 13:57] jlord commented on #151
@XhmikosR I'd prefer not to have it a sprite -- I like the fact that you can click on the avatars from that page and that it's not just a flat image.

That being said, once we launched, a lot more orgs were added than we started out with originally; we definitely don't need to be getting all of their avatars for index.html.

I'm ok with reducing the number of avatars we get for index.html so long

[2013-10-28 14:07] XhmikosR commented on #151
@jlord: you can still have a sprite and clickable avatars. But that would require extra work to maintain. Performance-Wise is the best solution though.

I will make a pull request later when I understand why limit:60 doesn't work.

[2013-10-28 14:14] jlord commented on #151
@XhmikosR exactly - the sprite is not ideal and performance is not enough of (or a) goal of this site so I'm not leaning in the _extra-work-to-maintain_ direction as the performance currently isn't limiting the usability of the site.

If we can shave some requests off by having it pull fewer avatars :thumbsup:

[2013-10-28 14:26] XhmikosR commented on #151
We totally agree.

I found [more](https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#for-loops) info about limit, looking into it now.

[2013-10-28 15:03] XhmikosR commented on #151
I have some results here

[code]

Still hacky though.

[2013-10-28 15:08] XhmikosR commented on #151
This seems cleaner; we just specify the number of orgs to show

[code]

[2013-10-28 15:22] Teddy95 opened #157 "License"
Sorry, but where can I find a license for scripts and fonts? :)

[2013-10-28 16:01] afeld commented on #157
/cc @cameronmcefee

[2013-10-28 16:03] Teddy95 commented on #157
Thank you :)

[2013-10-28 16:03] #157 closed, assigned to nobody

[2013-10-28 16:03] afeld commented on #157
The [scripts](https://github.com/github/government.github.com/tree/gh-pages/assets/js) are third-party so you need to go by their license - @cameronmcefee, maybe we should include a note about the Octicons?

[2013-10-28 16:07] Teddy95 commented on #157
I think it would be useful.

[2013-10-28 16:13] cameronmcefee commented on #157
@Teddy95 Octicons are not technically publicly shipped (still working out the kinks), so they're provided as-is with no guarantee of support. You're welcome to use them if you like, but with the knowledge that they are not officially supported until they've been publicly shipped if or when that happens.

As they change often and this specific collection is intended for the web, installing them loc

[2013-10-28 16:19] Teddy95 commented on #157
Okay, thank you very much for your quick and detailed answer.

[2013-10-28 16:28] afeld commented on #157
Presumably the GitHub logo usage (even as an Octicon) falls under the same terms of use as https://github.com/logos.

[2013-10-29 18:13] XhmikosR opened #162 "Move organizations to `_data` directory"
https://github.com/mojombo/jekyll/blob/master/site/docs/datafiles.md

This seems like a more flexible solution for government.github.com compared to having to edit `_config.yml` which is becoming huge anyway.

Maybe having a yml file for each country would make the situation much cleaner.

[2013-10-29 19:21] nschonni commented on #162
Related to #139 and #75

[2013-10-30 13:10] benbalter commented on #162
The feature's [not yet stable](http://jekyllrb.com/news/2013/10/28/jekyll-1-3-0-rc1-released/), let alone on Pages, but something to discuss depending on the outcome of #75. Biggest pushback would be complexity.

[2013-10-31 10:57] XhmikosR commented on #162
@benbalter: I didn't notice this was a new feature to be honest. But it does sound like the best compromise for government.github.com. I guess we should wait a little bit more. :)

[2013-10-31 15:17] brntbeer opened #167 "Any interest in a shoutout for GitHub Training?"
Just curious on the team as well as communities feelings about a mention of GitHub Training being available for government bodies if they're interested.

Some text and message similar to:

Full with professor_octocat_v2 or something.

Thoughts?

[2013-10-31 15:47] benbalter commented on #167
Where were you think this would fit in the site?

[2013-10-31 15:54] brntbeer commented on #167
under `/community` page explicitly? Maybe the "More Resources" box on the side panel of `/features`, `/community`, and `/about` pages. Bottom of the front page orrrrrrrr under FAQ?

[2013-10-31 15:54] brntbeer commented on #167
It'd be rad if it was somewhere easily viewable and not hidden, but not IN YOUR FACE.

[2013-10-31 15:58] nschonni commented on #167
What about under the "Learn More" section of the footer :wink:

[2013-10-31 16:03] benbalter commented on #167
@brntbeer we also have https://github.com/government/best-practices/blob/master/docs/resources.md, which could use some love, and to which we could probably link out to better.

[2013-10-31 16:12] brntbeer commented on #167
yeah for sure. A link to http://training.github.com/contact/ may be best, so as to not confuse people with a second `mailto:` as well.

[2013-11-04 23:56] jlord opened #171 "Community grid not displaying correctly"
I'm guessing during one of the merges of the updates to the css/bootstrap/whatnots that something got changed that created this bug in the display of orgs on /community:

![screen shot 2013-11-04 at 11 52 18 pm](https://f.cloud.github.com/assets/1305617/1469908/88f5678e-45ac-11e3-9601-ec3981951a34.png)

There shouldn't be almost blank rows. It's happening if a type-block ends up in the last positi

[2013-11-05 13:12] jlord commented on #171
@XhmikosR I tracked down where this problem began -- it was the merge of your commit [a5c05bde7fe1478efcdcc1aa3cc7a2951255ac36](https://github.com/github/government.github.com/commit/a5c05bde7fe1478efcdcc1aa3cc7a2951255ac36). As of the previous commit [92989cd351e3576fdaf841fd7fcd3639352087ce](https://github.com/github/government.github.com/commit/92989cd351e3576fdaf841fd7fcd3639352087ce) the  com

[2013-11-05 14:39] XhmikosR commented on #171
I can have a look, sure.

[2013-11-05 15:04] XhmikosR commented on #171
See #172.

PS. It would be nice if someone merged my remaining PRs so that I can make a new one about the http requests reduction.

[2013-11-05 16:35] #171 closed, assigned to nobody

[2013-11-05 16:49] #148 closed, assigned to nobody

[2013-11-11 19:48] #151 closed, assigned to nobody

[2013-11-11 19:59] benbalter commented on #10
@fintler for now, at least, the list is simply a list of organizations, and does not make any assertion about the relationship between GitHub organizations and their agencies. As #14 implements, I think you handled things exactly right, but definitely something to keep in mind in the context of #75.

[2013-11-11 19:59] #10 closed, assigned to nobody

[2013-11-11 20:02] benbalter commented on #101
#111 fixes. Thanks @nschonni!

[2013-11-11 20:02] #101 closed, assigned to nobody

[2013-11-13 08:55] XhmikosR opened #188 "Question about github-octicons"
How were github-octicons generated? I ask because the .eot file doesn't work on IE8, but if I regenerate the font files from the .ttf one using [fontsquirrel](http://www.fontsquirrel.com/tools/webfont-generator) it works fine.

[2013-11-14 15:38] benbalter commented on #188
@XhmikosR the Octicon font isn't fully released into the wild yet, so expect some hiccups.

/cc @cameronmcefee, in case you're interested in investigating. May be an older build. Believe it was pulled straight from the repo.

[2013-11-14 15:38] #188 closed, assigned to nobody

[2013-11-14 15:42] XhmikosR commented on #188
Well, GitHub has dropped support for IE < 9. But this site still supports it as far as I can tell.

Anyway, since this isn't open source, I don't think I can do anything. I already reported everything I know.

[2013-11-14 16:24] cameronmcefee commented on #188
Hi @XhmikosR,

Thanks for the report. I'll investigate this one and see if we can get it working properly soon.

[2013-11-14 16:33] XhmikosR commented on #188
Thanks, let me know your findings.

BTW, I tried using FontForge to fix the font name vs public name but I couldn't make it work right. I did notice, however, some inconsistencies in the font names which might cause this issue.

[2013-11-14 17:46] cameronmcefee commented on #188
Should be resolved [here](https://github.com/github/government.github.com/pull/191). The cause of the issue is the omission of the `?` from the eot url. If you want to get deep in the details, check out [this article](http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/).

Thus far this has been omitted from the octicons stylesheet because the `?` causes issues with Sprockets

[2013-11-14 17:48] XhmikosR commented on #188
The `?` isn't the cause because as I mention in that patch I had already fixed it. (refs https://github.com/github/government.github.com/commit/db16a2940fb070c037b549a72102f92b75caad08)

The cause is the font name differences like I mentioned [above](https://github.com/github/government.github.com/issues/188#issuecomment-28498812) :)

EDIT: No idea where that branch is based on though. It doesn't

[2013-11-14 18:04] cameronmcefee commented on #188
You're correct, my changes were based on an old branch. I'm fixing that as we speak.

[2013-11-14 18:19] cameronmcefee commented on #188
Alright, new pull in #192

[2013-11-14 18:21] XhmikosR commented on #188
This issue should have been closed when @cameronmcefee patches were merged, though. It's a real issue.

I'll try the new branch @cameronmcefee and let you know.

[2013-11-14 18:28] XhmikosR opened #193 "Change the minimum IE supported for government.github.com"
IE 8 works sort of ok, apart for the logo image. IE7 looks awfully broken.

I suggest we follow the latest html5 boilerplate and make IE 8 the minimum supported IE.

I can make a PR later for this.

[2013-11-20 17:21] klemmj opened #196 "Submitting story using the prose editor"
I followed the directions on http://government.github.com/submit/ for submitting a story:

Simply open the Prose editor and start typing. It’s really that easy. When you’re done, hit submit, and track your story’s progress as it’s added.

It's not clear the submission worked.  Can you confirm?

Thanks,

Juli Klemm

[2013-11-20 17:22] klemmj commented on #196
The story is entitled "Opening up Informatics for Cancer Research".

[2013-11-20 18:40] nschonni commented on #196
Your story is here #195

[2013-11-20 18:55] #196 closed, assigned to nobody

[2013-11-20 20:32] benbalter opened #197 "Limit image height on single story page"
For tall images, would be awesome to dynamically resize like we do on the home page (I think as a centered background with a max-height?)

![screen shot 2013-11-20 at 3 31 03 pm](https://f.cloud.github.com/assets/282759/1585999/be68de3c-5222-11e3-8506-96ea954aa5b8.png)

[2013-11-25 01:54] #197 closed, assigned to nobody

[2013-11-29 05:56] talllguy opened #214 "typo in instructions at http://government.github.com/community/"
Small typo in the instructions heading of the [community page](http://government.github.com/community/). One of the bullets looks like:
- In your forked version, click the branch dropdown and in the “**Fnid** or create a branch…” field, create a new branch (for example, “adding myagencyname”).

Notice **Fnid**, which should be Find.

[2013-11-29 06:11] #214 closed, assigned to nobody

[2013-11-29 06:12] afeld commented on #214
Good catch, thanks!

[2013-11-29 06:13] talllguy commented on #214
Happy to help!

[2013-11-29 06:29] talllguy opened #215 "Instructions about forking needs small clarification"
Small clarification request to the instruction on the [community page](http://government.github.com/community/). As @nschonni pointed out in a [pull request comment](https://github.com/github/government.github.com/pull/213#issuecomment-29498464), I accidentally created my branch off of the accessibility branch. I recommend the instructions include a bit that the gh-pages branch should be selected

[2013-12-18 11:05] XhmikosR commented on #193
After PR #229 is in, IE8 should work fine. But IE7, which is what is [now](https://github.com/github/government.github.com/blob/gh-pages/_includes/header.html#L23) shown as the minimum IE version, is still wrong. `display: inline-block`, octicons etc don't work with IE7.

[2014-01-21 21:01] rmw commented on #54
I agree it'd be helpful to have more info about the organization - since they are adding into YAML anyway, we could just change the format to something like:

[code]

That way they can add if they want and we'll just show what's available.  It wouldn't be too much to convert the existing yaml to this either. OR we could check if the val is a hash or not and if not, only show the name.

Happy to ta

[2014-01-21 21:05] nschonni commented on #54
@rmw I started something like that in #139, but feel free to take that base (or not) and improve upon it!

[2014-02-01 08:19] nschonni opened #249 "Use CDN for third party libraries"
Rather than bumping a few of the recent threads, I wanted to float using [CDN](http://getbootstrap.com/getting-started/#download-cdn) copies directly in the [templates](https://github.com/wet-boew/wet-boew/blob/v4.0/site/includes/footerresources.hbs#L2) rather than including the libraries through Bower. I love Bower, but most of these libraries have CDN equivalents that are excellent when no custo

[2014-02-01 08:25] XhmikosR commented on #249
I totally agree and in fact today when I woke up this is the first thing I did locally.

I still need to move those in _config.yml so that it's easier to update for lazier people :)

[2014-02-01 08:28] nschonni commented on #249
I wasn't entirely sure if it should use the protocol-less urls because I couldn't remember if this would serve off HTTPS. Protocol-less unfortunately causes local/file:// urls to barf.

Not sure if there is a public HTML5shiv CDN(google?), but that would be awesome!

[2014-02-01 08:30] XhmikosR commented on #249
Local isn't supported anyway, you need to run `jekyll serve` so protocol relative is ok.

I don't see why we should limit ourselves to Google's CDN. I mean there are hundreds of CDNs available to use that have a much bigger plethora of files, including the ones we need.

Examples, osscdn, jsdelivr etc etc

[2014-02-01 08:33] nschonni commented on #249
:wink: no CDN restriction (and they tend to be slower for releases), just thinking of likely cache hits.

[2014-02-01 08:35] XhmikosR commented on #249
For Bootstrap, I'm pretty sure Bootstrap CDN is more used anyway.

For jquery I tend to use Google's CDN myself too. But for html5shiv etc there shouldn't be any issue; it's just a matter of preference I guess.

[2014-02-01 08:37] nschonni commented on #249
:100:

[2014-02-01 15:40] benbalter commented on #249
@nschonni FWIW, the assets are [currently being served via a CDN](https://github.com/blog/1715-faster-more-awesome-github-pages)

[2014-02-01 16:19] XhmikosR commented on #249
Yeah but that doesn't solve the messy repository. Using the assets from a CDN is still not perfect regarding the number of http requests, but it should be easier to maintain. Especially if we have them in _config.yml as variables.

[2014-02-01 16:27] benbalter commented on #249
I don't know that there is presidence for a GitHub.com property to use a third-party CDN for assets. The two big reasons come to mind is that it's an external dependency with a third-party that we don't have e.g., an SLA with, and second, it increases the surface area of potential vulnerabilities, because an attacker could put code in the CDN'd version, and then have a vector for an XSS attack on

[2014-02-01 16:27] #249 closed, assigned to nobody

[2014-02-01 16:29] XhmikosR commented on #249
Non repo collaborators cannot reopen anything.

Anyway, at least I'm not the only one to see the problem.

[2014-04-08 18:10] MikePulsiferDOL opened #268 "Puerto Rico is in the United States"
...even if it is not a state at this moment.

[2014-05-21 16:12] #162 closed, assigned to nobody

[2014-05-22 20:09] ErieMeyer opened #276 "Zen the zen, pls"
Hi! In zen mode, even in fullscreen, there's still a sad scrollbar an no way (I can find) to reduce font. Very hard to visually ID linebreaks.

I can haz expanding margins?

![image](https://cloud.githubusercontent.com/assets/1626026/3059545/d6e76208-e1ec-11e3-923a-89657f3a870e.png)

[2014-05-23 14:19] benbalter commented on #276
@ErieMeyer Thanks for the feedback. Is this specific to governemnt.github.com or GitHub in general? If the latter, mind submitting the above to support@github.com so we can get it in front of our front-end team?

[2014-07-29 13:51] benbalter opened #293 "Link out to government showcase"
Via @adamjacobbecker, we should link out to [the government app showcase](https://github.com/showcases/government) from government.github.com in a big way.

Mirroring the features "learn more" link, thinking it'd make the most sense to add it below the "how to use GitHub" section. Don't :heart: the copy, but something like:

![screen shot 2014-07-29 at 9 50 31 am](https://cloud.githubusercontent.c

[2014-07-29 19:45] jlord commented on #293
:thumbsup: Totally should be linking to that -- here comes a PR!

[2014-07-29 20:05] #293 closed, assigned to nobody

[2014-08-04 19:54] benbalter opened #298 "CI Failing due to ruby version"

[2014-08-04 19:55] #276 closed, assigned to nobody

[2014-08-07 00:26] #298 closed, assigned to nobody

[2014-08-08 15:51] nschonni opened #303 "Resize Featured org images"
Currently the [feature org images](https://github.com/github/government.github.com/tree/gh-pages/assets/img/featured-orgs) are being set with an inline attribute to 80px wide, but the payload for the page is pretty larg since these images are >300KB each :frowning:

[2014-08-08 16:11] nschonni opened #304 "Avatar downloads on the Community page"
Adding the `s=` query parameter would shrink down the size of the images downloaded, but that doesn't work unless you resolve the github user content url first. Ex: `https://avatars3.githubusercontent.com/u/1297909`
![30px Avatar](https://avatars3.githubusercontent.com/u/1297909?v=2&amp;s=30) `?v=2&amp;s=30`
![100px Avatar](https://avatars3.githubusercontent.com/u/1297909?v=2&amp;s=100) `?v=2&amp;

[2014-09-22 14:44] suriyaa opened #320 "Run scripts not working"
Hello everybody, :smile:

I need your help!

I tried today to **run over *Git Shell**\* `script/bootstrap` and `script/server` on my Laptop but it doesn't work. :unamused:

So it looks when `script/bootstrap` is finished:
![screenshot 2014-09-22 16 34 27](https://cloud.githubusercontent.com/assets/5073946/4357941/6857327a-4266-11e4-84bc-ee27ff18cb4f.png)

So it looks when `script/server` is finish

[2014-11-05 13:49] #268 closed, assigned to nobody

[2015-02-03 17:35] benbalter opened #342 "Optimize /community page load"
As the number of government organizations on GitHub has grown, so too has the load time of the /community page.

I'm less concerned about the load time as I am about the experience of actually using it. For example, even if you know what you're looking for, it's hard to read, as your scroll, as the images load and the dom reflows. This is especially true if you enter via an anchor link (which then

[2015-02-03 22:53] jlord commented on #342
No strong opinions. I totally agree the experience is not great right now as all these things load.

What about losing the avatar all together? They are nice and colorful, but there are 100's now and maybe it's not worth it to have them? We'd still have some as a nice color wall on the front page.

Though I do think that because the org names aren't very descriptive, just having then alone would l

[2015-03-06 20:32] sahilbabbar opened #348 "Responsiveness lost around 672×640"
Hi,

The website looses its responsive nature around 672×640. Few portions of text go out of the screen.

[2015-03-12 15:38] jhfrench opened #349 "Dead image"
The [landing page of this project](https://github.com/github/government.github.com) includes an `img src="/github/government.github.com/raw/gh-pages/images/screenshot.png"`. That file, apparently, doesn't exist.

[2015-04-07 19:19] sahilbabbar commented on #348
Kindly take required action. If the problem is accepted then, I may start working on this.

[2015-04-07 20:10] benbalter commented on #348
@sahilbabbar I'm not able to recreate the issue. Are you able to post a screenshot? Alternatively, are you able to submit a pull request to update the CSS to fix it?

[2015-05-12 13:46] jhfrench commented on #349
That image is still dead...

[2015-05-14 17:17] benbalter opened #368 "Convert user account to organization account"
Doing a little clean up of the government organizations list at [government.github.com/community](https://government.github.com/community) and I noticed the follow government "organizations" are really GitHub users.

Being a GitHub organization (rather than a user) provides government organizations with lots of advantages like team-based access permissions, unlimited owners, admins, and collaborat

[2015-05-14 17:37] NCBITools commented on #368
Hi Ben – @NCBI is the organization. @Ncbitools is a user we created, so that as people come and go, we have a constant user.

From: Ben Balter [mailto:notifications@github.com]
Sent: Thursday, May 14, 2015 1:17 PM
To: github/government.github.com
Cc: Preuss, Don (NIH/NLM/NCBI) [E]
Subject: [government.github.com] Convert user account to organization account (#368)

Doing a little clean up of the g

[2015-05-26 14:42] #368 closed, assigned to benbalter

[2015-07-02 21:52] sahilbabbar commented on #348
Its working fine.

[2015-07-02 21:52] #348 closed, assigned to nobody

[2015-09-23 04:41] sonalkr132 opened #403 "Negative margin on featured-orgs class and static image"
Why is .featured-orgs has [negative margin of 55px](https://github.com/github/government.github.com/blob/a668b6cf7b8882406fb250ce91bc7f7dc025d8d0/assets/css/style.scss#L292-#l294)? Images are overflowing the screen because of it:
![screenshot from 2015-09-23 09 54 17](https://cloud.githubusercontent.com/assets/7680662/10037894/48defbf0-61da-11e5-83a1-861b6d65b844.png)

<hr />

Also why are these f

[2015-09-23 17:27] benbalter commented on #403
The intention was to show that there were lots and lots of government organizations on GitHub, and not just those featured. "So many they couldn't fit on the page"

IIRC, it was a bandwidth consideration. There is no way to request a particular sized image using the `[login].png` route.

[2015-09-23 23:45] sonalkr132 commented on #403
@benbalter  check out #404

~~A follow up question:
Can I please delete images from git history as well?
`.git` dir for this repo is just huge (21MB). There are many unused images in git history and `assets/img/featured-orgs/*` is only going to add up to that. I was having a slow internet day when I first cloned it and it took forever to complete.~~

**EDIT:**
Not a great idea :stuck_out_tongue_cl

[2015-09-25 15:47] sonalkr132 commented on #403
closed with #404

[2015-09-25 15:47] #403 closed, assigned to nobody

[2015-11-07 20:35] wayneiny opened #421 "no access permission to '/'"
Hi I followed the instruction in READMD.md and finished running ./server. It instructed me to open localhost:4000/ but when I did that, it just gave me error that no access permission to '/'. Could you please explain this is happening? Thank you.

[2015-11-22 03:44] sonalkr132 commented on #421
I was not able to duplicate your issue. Can you please post server log?

You might find [#1293](https://github.com/jekyll/jekyll/issues/1293) useful.

[2015-11-22 15:49] wayneiny commented on #421
Yes it's the same problem, but I don't know how to solve it. Thanks for
replying.

On Saturday, 21 November 2015, Aditya Prakash notifications@github.com
wrote:

[2015-11-23 16:37] benbalter commented on #421
Are you running `./server` from the `./scripts`/ directory, or `script/server/` from the root directory?

[2016-01-04 15:11] benbalter opened #433 "Copyright notice should be [year of publication] - {{ year }}"
Should also reference contributors.

http://ben.balter.com/2015/06/03/copyright-notices-for-websites-and-open-source-projects/

[2016-01-04 20:30] #167 closed, assigned to nobody

[2016-01-04 21:54] benbalter commented on #433
Fixed by f43a218.

[2016-01-04 21:54] #433 closed, assigned to benbalter

[2016-02-18 19:42] #349 closed, assigned to nobody

[2016-02-26 00:15] theaverageguy commented on #303
Can I work on this?

[2016-02-26 00:15] theaverageguy commented on #87
Would like to take this up.

[2016-02-26 15:05] benbalter commented on #87
@yash14123 thanks for volunteering. We actually moved the stories to http://government.github.io/best-practices since this issue originally opened.

[2016-02-26 15:05] #87 closed, assigned to nobody

[2016-02-26 15:07] benbalter commented on #304
This has been fixed by using https://github.com/benbalter/jekyll-avatar.

[2016-02-26 15:07] #304 closed, assigned to nobody

[2016-02-26 15:07] benbalter commented on #44
Thanks @nschonni. Closing since the stories have been moved to the peer group page.

[2016-02-26 15:07] #44 closed, assigned to nobody

[2016-02-26 15:08] benbalter commented on #193
@XhmikosR is this still an issue? If so, what can we do to fix it?

[2016-02-26 15:08] benbalter commented on #320
@SuriyaaKudoIsc are you still having trouble?

[2016-02-26 15:09] benbalter commented on #342
This has been fixed by https://github.com/benbalter/jekyll-avatar which explicitly sets the image height.

[2016-02-26 15:09] #342 closed, assigned to nobody

[2016-02-26 15:09] #421 closed, assigned to nobody

[2016-02-26 15:11] benbalter commented on #303
@yash14123 thanks for offering. We'd love your help (with this, or anything else)!

@nschonni did you have any thought son how to fix this?

To note, the avatars are now being loaded via https://github.com/benbalter/jekyll-avatar (which in essence, is just a shared HTML template)

[2016-02-26 15:12] benbalter commented on #215
@talllguy late to respond, but thanks for opening the issue. The instructions have since been updated, so I don't believe this is a problem any more.

[2016-02-26 15:12] #215 closed, assigned to nobody

[2016-02-26 15:26] suriyaa commented on #320
@benbalter

---

Yes.

I use Windows 10 (german edition) now but I got the same issue.

---

I run:

[code]

![screenshot 2016-02-26 16 24 35](https://cloud.githubusercontent.com/assets/5073946/13356431/81c4297c-dca5-11e5-8b30-9eae19f3402e.png)

---

[2016-02-26 17:03] XhmikosR commented on #193
@benbalter: I don't think this applies anymore being that you use jQuery 2.x which doesn't work for IE < 9. Also, generally GitHub doesn't work on IE < 9 (or even 10?) so it's OK to close this.

[2016-02-26 17:03] #193 closed, assigned to nobody

[2016-02-28 01:08] IanLee1521 opened #445 "How to add a story?"
In the README, there is a section for [Add a Story](https://github.com/github/government.github.com/blob/gh-pages/readme.md#add-a-story) that references instructions in [docs/submit.md](/docs/submit.md) that doesn't seem to exist.

Are the instructions just hosted someplace else now? Is adding a story still an option?

Thanks!

[2016-02-28 13:29] jbjonesjr commented on #445
Great question @ianlee1521. Let me look into this and get back to you.

[2016-02-28 20:17] randomecho commented on #445
It was removed in https://github.com/github/government.github.com/commit/57d90a4eeb420f79a817e6423066bb48f60352f6#diff-6bcfcf24b4ae872e64b8e5b392c0be36

[2016-02-28 21:06] benbalter commented on #445
They were moved to [the government peer group](https://government-community.githubapp.com/government/best-practices/tree/gh-pages/_docs/case-studies).

[2016-02-28 22:15] IanLee1521 commented on #445
So perhaps that bit in the README needs to be removed? Or updated to be a pointer to the [government/best-practices](https://github.com/government/best-practices) somewhere?

[2016-02-29 06:22] nschonni commented on #303
@benbalter it looks like the new library is requesting the correctly sized images rather than resizing the images on the client side

[2016-02-29 06:22] #303 closed, assigned to nobody

[2016-02-29 20:09] XhmikosR commented on #342
@benbalter: this doesn't really fix the page performance. It still loads so many elements.

My suggestion would be to lazy load the images in home and community pages.

[2016-02-29 20:20] #445 closed, assigned to nobody

[2016-02-29 20:23] jbjonesjr commented on #445
@IanLee1521 I did just that.

Long term, yes, we need to do a better job at articulating the proper vehicles for showcasing good Government use cases, but due to lack of interest from the community, that has fallen off the last few years (hence you finding this 19 month old dead link).

I'd love to talk more about the story you are interested in telling though (and start finding the right home for

[2016-02-29 21:42] XhmikosR commented on #320
Everything is fine on Windows regarding these issues.

The only issue you will hit is the `server` or `jekyll server` one due to the symlink'ed _sass/bootstrap file.

[2016-03-01 11:45] XhmikosR opened #452 "Work around symlink issue"
[code]

Or if anyone has any other solution, please let me know.

/CC @benbalter

[2016-03-01 16:27] suriyaa commented on #320
I tried to run `jekyll server` command directly in CMD:

[code]

[2016-03-01 16:33] XhmikosR commented on #320
The problem is on your side. Ruby 2.1.0 isn't the latest either.

Anyway, @benbalter, you should close this.

[2016-03-01 19:32] IanLee1521 commented on #445
I'll do that. Thanks @jbjonesjr !  Just as a clarifier is the list for government@github.com different from the @government group?

[2016-03-01 19:51] jbjonesjr commented on #445
@IanLee1521 Absolutely. government@github.com is an email alias so myself (and other GitHubbers) can best figure out how to bring your sort of needs forward (while the govt best practices site and repo are open sourced, we are the "stewards" in this sense).

[2016-03-02 10:05] XhmikosR commented on #452
So, any chance we could work around this issue? I want to clean up more styles and it's hard to do it via the browser only :/

[2016-03-02 15:23] benbalter commented on #452
@XhmikosR Thanks again for all the recent pull requests, we (and the community) really appreciate them. To be completely transparent, I wanted to let you know that this issue may not get addressed immediately. It's no reflection on you or your contributions (they're great). There are lots of competing priorities at GItHub, and micro-optimizations like consolidating style sheets or optimizing image

[2016-03-08 17:57] #54 closed, assigned to nobody

[2016-03-15 07:45] XhmikosR opened #456 "Replace the removed `octicon-podium`"
@benbalter: this was removed in Octicons v3.0. I was looking for alternatives but I'm not sure which one to use.

[2016-03-30 07:34] suriyaa commented on #320
@XhmikosR :+1:

[2016-03-30 07:34] #320 closed, assigned to nobody

[2016-04-06 00:14] XhmikosR commented on #456
Bump @benbalter

[2016-05-03 15:35] JJediny opened #463 "Consolidate U.S. Federal & U.S. Military and Intelligence in governments.yml"
No other country breaks their list of "Federal" accounts this way and don't see what added value there is as source code and projects can find re-use across military and civilian sectors. This only adds un-needed complexity to keep the list up to date for the US having to compare three lists in what should be two list within two files:
- https://github.com/github/government.github.com/blob/gh-page

[2016-05-23 01:36] afeld opened #467 "where to put government-initiated GitHub orgs?"
There are a few GitHub organizations that are government-initiated, but they aren't tied to a single government entity per se...not sure where they should go. Ideas?

- @DistributedOpenUnifiedGovernmentNetwork
- @fisma-ready
- @openopps
- @eregs
- @uspki
- @opencontrol

[2016-05-24 13:44] benbalter commented on #467
Civic hackers?

[2016-05-24 20:12] leahbannon commented on #467
That sounds like a good place for openopps to me. I'm not familiar with the other projects.

[2016-06-09 22:08] nschonni opened #473 "Travis-CI integration broken?"
@benbalter Looks like the builds stopped running a month ago https://travis-ci.org/github/government.github.com and the landing page for this repo says "This is not an active repository"
Maybe a token got revoked or it needs a permission check?

[2016-06-10 19:28] benbalter commented on #473
Not sure what happened. Literally just clicked "activate" on the link you provided, and we seem to be back in business. Thanks for the heads up.

[2016-06-10 19:28] #473 closed, assigned to nobody

[2017-01-17 00:36] nschonni opened #531 "Duplicate VA organizations"
Under the US Fed section, there are currently two organizations that seem to represent the VA @USDeptVeteransAffairs and @department-of-veterans-affairs. The latter appears to be the only one with recent activity/members.

[2017-02-21 15:55] leog commented on #452
@XhmikosR I figured out how to workaround this issue for the @Standards homepage which uses the same theme as this page. You can see it on the https://github.com/Standards/standards.github.io repository.

[2017-04-02 07:01] loivi opened #554 "1 lan!"

[2017-04-02 11:46] #554 closed, assigned to nobody

[2017-07-18 08:31] kennethlarsen opened #583 "[a11y] Accessibility issues"
I noticed some accessibility issues on the frontpage which would be fairly simple to fix. These issues might be good for first time contributions.

## Headings
There are several nonconsecutive headings.

- [ ] "More than just code" is an h1 but is followed by an h3. Should be follwed by an h2.

- [ ] "Join the Revolution" is an h1 but is followed by an h3. Should be follwed by an h2.

- [ ] "Get s

[2017-07-20 07:09] #75 closed, assigned to nobody

[2017-07-20 07:13] #84 closed, assigned to nobody

[2017-08-02 18:28] nschonni commented on #583
Some of these might be addressed in #524

[2017-08-03 19:24] nschonni opened #592 "Github Octicon click area covering other footer links"
Seems the generated link is causing a click area on cover all the other links in the footer
[code]

[2017-08-03 19:26] nschonni commented on #592
Looks like #591 was already opened to address this

[2017-08-03 19:26] #592 closed, assigned to nobody

[2017-08-25 04:07] jbjonesjr opened #601 "Alphabetize, other chores should run monthly, open new PRs automatically"
Currently, the alphabetize script (https://github.com/github/government.github.com/blob/gh-pages/script/alphabetize)  is run manually to clean up the ordering of Organizations in the various data files. (Example: https://github.com/github/government.github.com/pull/582). A couple problems with this:

1. Why do work that a robot 🤖 can do?
2. Since this repo is widely maintained, it's impossible to

[2017-08-25 18:17] nschonni commented on #601
Seems like the cron jobs on Travis-CI would fit the bill https://docs.travis-ci.com/user/cron-jobs/

[2017-09-28 14:12] dgading commented on #583
I can take a look at this over the weekend and compare with #524 to see what still needs to be addressed. I just need a bit of time to build a local and review any code standards.

[2017-09-30 21:36] dgading commented on #583
Most of the issues in the original issue have been addressed, but I decided to just run W3C Validator and Wave against the new site and see if anything else appeared. I will try to get a PR open with the fixes tomorrow, but for the contrast issue I think there may need to be some discussion on color direction as the AAA passing green and orange doesn't really stand out compared to the gray.

----

[2017-12-06 21:30] patcon commented on #75
Just to reopen this, how about this?
- **`national`** federal level.
- **`subnational`**<sup>[1]</sup> anything at state, province, in-between
- **`local`** city, town, whatever. (h/t @smathermather :slightly_smiling_face: )

fwiw subnational is already used by Open Gov Partnership<sup>[2]</sup>

#### References
1. https://stackoverflow.com/questions/553705/naming-convention-for-state-region-provi

[2017-12-06 21:38] patcon commented on #75
And lastly, could be optional. array below country, the renders like current, but if it's hash, new render type

[2017-12-18 16:31] ilyapopov opened #637 "Organisation logos are shown twice in the "Join the Revolution" section"
![screenshot-2017-12-18 github and government](https://user-images.githubusercontent.com/1054514/34116526-2d74901e-e419-11e7-9723-c96d980c3383.png)

[2017-12-26 10:38] max107 opened #641 "Overflow issue"
![screen shot 2017-12-26 at 13 36 07](https://user-images.githubusercontent.com/862272/34354796-db9e6fe2-ea41-11e7-88cb-45f91130d3de.png)
![screen shot 2017-12-26 at 13 36 17](https://user-images.githubusercontent.com/862272/34354799-df629aae-ea41-11e7-8b22-ef6fba4b5d6a.png)

Solution:

remove negative margins:

[code]

[2017-12-29 13:56] Papaganti-sravya opened #644 "http:/https://github.com/Papaganti-sravya"

[2017-12-31 19:40] jbjonesjr commented on #641
any thoughts on this (and the related #642) @sophshep ? Wasn't sure if there was a reason for the negative margins.

### Before:
![image](https://user-images.githubusercontent.com/533967/34463883-40133ee0-ee38-11e7-8d61-d50311f00b5d.png)
Logos are overflow/cropped.

### After:
![image](https://user-images.githubusercontent.com/533967/34463884-59727586-ee38-11e7-917f-57a346260021.png)

Nicely see t

[2017-12-31 19:44] #644 closed, assigned to nobody

[2018-01-02 18:08] BelovedAquila commented on #531
Yes I observed that too @nschonni, The @department-of-veterans-affairs is obviously the active Veteran Affairs Organization. @lapin7 isn't it as fit as I thought it to, if the other veteran affair organization ( @USDeptVeteransAffairs )  be closed down, its more evidently seeming to be a duplicate as @nschonni alerted because its kind of Dormant and inactive, and already have an effective counter

[2018-02-10 16:34] vinzruzell opened #656 "Translation/Localization"
Requesting for a contribution for Filipino Translation thru github as per utopian.

[2018-02-16 15:45] miaguila0710 commented on #110
Mi águila.Inc in PayPal

[2018-02-16 15:47] miaguila0710 commented on #601
U think this about me???

[2018-03-06 22:56] afeld opened #664 "improve page load speed"
The page is getting slow to load, which is (I believe) almost entirely due to the number of avatars being loaded. I would suggest doing a lazy load of the images. There are a number of JavaScript plugins to facilitate this. Happy to take a pass at it, if interested!

[2018-03-09 17:39] patricktokeeffe opened #667 "Universities?"
I noticed none are listed. Our research group within the university is state funded but we also compete for federal and third-party grants. Would it make sense to be listed as a state agency? Or is another category a better approach?

Or maybe they are excluded for some reason?

[2018-03-19 06:05] alex-page commented on #637
The scrolling on the page is also broken due to the second group of logos not being wrapped in the `overflow:hidden;` div.

[2018-04-04 03:47] jbjonesjr commented on #641
fixed by #679

[2018-04-04 03:47] #641 closed, assigned to nobody

[2018-04-04 03:48] jbjonesjr commented on #637
yep. fixed in #679

[2018-04-04 03:48] #637 closed, assigned to nobody

[2018-04-04 03:51] jbjonesjr commented on #664
@afeld i understand you have a fix for this in one of the jekyll upstream gems? (https://github.com/benbalter/jekyll-avatar/issues/16).  Once @benbalter cuts a release, we can update the gemfile here.

[2018-04-04 04:05] afeld commented on #664
Also we have to wait for it to be updated in GitHub Pages.

[2018-04-04 04:24] jbjonesjr commented on #664
ph, good point. i assumed it was in a site gem, but it is in the pages infrastructure. 👍

[2018-06-25 05:31] afeld commented on #664
Now waiting on https://github.com/github/pages-gem/pull/573.

[2018-07-05 13:21] jbjonesjr commented on #664
Now waiting on https://github.com/github/pages-gem/pull/576

[2018-07-18 18:37] gcharest commented on #656
We would need a French interface as well.

[2018-07-26 11:44] escolopendra opened #708 "Spain"
Hello,
I think Catalonia must be listed below the Spain node, given that it is a Spanish territory.
Has no sense.
Regards

[2018-08-01 04:11] #664 closed, assigned to nobody

[2018-08-01 14:12] jbjonesjr commented on #708
👋 @escolopendra I don't follow Spanish governance and sovereignty enough to weigh in.

This attribution was managed here #500 , if you believe it is not correct, happy to discuss further. However, since that was merged, we've seen other pull requests on both Spain and Catalonia in their respective current sections, so I think there is current consensus with the attribution.

I'd like to see other

[2018-08-01 14:14] jbjonesjr commented on #667
@patricktokeeffe This is a conversation that comes up from time to time. The Government section is for full-govt orgs. Now, if your research group is basically a Fee Funded Research Org (like the US DOE National Labs for example), then it can belong in this section.

If not, it could make sense for them to fall in the research section. Feel free to reopen if you still have questions.

[2018-08-01 14:14] #667 closed, assigned to nobody

[2018-08-01 14:14] jbjonesjr commented on #656
👍 . closing with no current action required

[2018-08-01 14:14] #656 closed, assigned to nobody

[2018-08-01 14:15] jbjonesjr commented on #583
this got merged in #608, closing out. Thanks for everyone's help looking out for a11y!

[2018-08-01 14:15] #583 closed, assigned to nobody

[2018-08-01 14:16] jbjonesjr commented on #531
These are two separate orgs believe it or not.

[2018-08-01 14:16] #531 closed, assigned to nobody

[2018-08-01 14:19] jbjonesjr commented on #452
site has been updated, OBE

[2018-08-01 14:19] #452 closed, assigned to nobody

[2018-08-01 14:20] jbjonesjr commented on #456
site has been update, OBE

[2018-08-01 14:20] #456 closed, assigned to nobody

[2018-08-01 14:24] jbjonesjr commented on #463
@JJediny the reason we break them out is because there re far more US Federal orgs than other countries. If the volume grew elsewhere, I'd also advocate braking those out as well. Relevant explanation also in #513

Closing this out, but happy to continue the conversation (especially if the break between govt and research could be clearer)

[2018-08-01 14:24] #463 closed, assigned to nobody

[2018-08-01 14:27] jbjonesjr commented on #467
back here, i feel like uspki could fall under government though, as could fisma-ready. Not familiar enough with the rest. ¯\_(ツ)_/¯

Closing this out, but happy to continue this. I'd love to be more explicit about where to put things, it sort of a `feel` thing at the moment.

[2018-08-01 14:27] #467 closed, assigned to nobody

[2018-08-02 06:35] escolopendra commented on #708
I think there is more a fait accompli than a consensus. There are more spanish territories with same legal status, sharing here, into Spanish node.
It's known that we have some politic troubles here about Catalonia, but I think it would be a pitty let the people transfer here this kind of things. So I think that the change proposal it's according to the reality, and for preventing future prolitera

[2019-01-28 03:54] jbjonesjr opened #750 "TODO: Configure caching for fast building on CI"
Description and details here: https://github.com/gjtorikian/html-proofer#configuring-caching and https://github.com/gjtorikian/html-proofer#caching-with-travis

[2019-01-28 04:30] jbjonesjr commented on #750
Also worth reviewing additional html-proofer options, as many have likely been added since we first started using it. Lots of opportunity for improvement

[2019-03-01 15:08] richardjpope opened #755 "Add licence to the _data directory"
Add a suitable licence to the _data directory to allow it to be reused for research purposes

[2019-03-02 23:23] jbjonesjr commented on #755
This is an interesting idea @memespring , i'm raising it internally with our legal.

[2019-03-06 11:50] plaguna commented on #708
I think @jbjonesjr is referring to #550 instead of #500

I have created #753  to address what @escolopendra mentioned.

When you mention that there has been consensus, you might refer to #673 by @carolromero, who is a member of @decidim, an organisation promoted by the Ajuntament de Barcelona, the council of the capital of the region of Catalonia.

I think this division creates confusion for peopl

[2019-03-06 17:42] carolromero commented on #708
Hi! I already found this division created when I wanted to update the list. I agree not to mix political issues in this space, so +1 to merge the list of Catalonia with Spain.

[2019-10-02 17:35] NetizenAbel opened #777 "Is it dead?"
Is this project no longer alive? It isn't being maintained.

[2019-10-03 05:11] mlinksva commented on #777
It is alive. I'm going to try to get to old PRs, after figuring out an [odd issue with CI](https://github.com/github/government.github.com/pull/778#issuecomment-537788886).

[2019-10-03 05:11] #777 closed, assigned to nobody

[2019-10-05 00:10] #708 closed, assigned to nobody

[2019-10-05 00:41] mlinksva commented on #110
It looks like https://government.github.com/community/#civic_hackers has long included a lot of open data orgs. Other tools and news looks like it is out of scope for the site. Thanks for opening this 6 years ago!

[2019-10-05 00:41] #110 closed, assigned to nobody

[2019-10-05 00:51] nschonni commented on #601
Looks like GitHub Actions supports this now too https://help.github.com/en/articles/workflow-syntax-for-github-actions#onschedule

[2019-10-13 19:49] #755 closed, assigned to nobody

[2020-04-23 04:06] nschonni opened #803 "Setup Dependabot in Repo"
Since there are vendored in node_modules, it might make sense. Currently there are some dependencies that are behind:
[code]

[2020-09-05 03:32] nschonni commented on #601
Fixed with https://github.com/github/government.github.com/pull/825

[2020-09-05 03:33] nschonni commented on #750
Can probably close now that Travis isn't being used anymore

[2020-09-05 04:03] #601 closed, assigned to jbjonesjr

[2020-09-05 04:03] mlinksva commented on #750
I'm not sure it's worth doing but I'd guess it still could be with https://github.com/actions/cache

[2020-09-22 10:17] ugd-mg opened #837 "Ensure entries are alphabetized build failed"
Hello there, I'm new here. We are from Madagascar. We want to put our organization on https://government.github.com/community/. When we edit and pull [governments.yml](https://github.com/github/government.github.com/blob/gh-pages/_data/governments.yml) we get this
![image](https://user-images.githubusercontent.com/70996381/93870280-a3872c80-fcd5-11ea-8d13-f4f4cee91ad1.png)

Please! Someone can hel

[2020-09-22 16:22] nschonni commented on #837
If you look at the failure details it shows you in the diff what the format it is expecting. In some cases you have trailing space that is causing a diff and others it's missing lines around the section

[2020-09-23 08:20] ugd-mg commented on #837
It works, I create an Organization and submit it. Thank you guys. I'm waiting for validation

[2020-11-05 17:28] RethinkPlasticOrg opened #849 "Government"

[2020-11-06 03:10] #849 closed, assigned to nobody

[2020-11-06 03:11] #837 closed, assigned to nobody

[2020-11-19 22:30] #750 closed, assigned to nobody

[2021-02-11 20:11] dougwaldron opened #863 "Invalid user causing pull request checks to fail"
Pull request #862 failed because unrelated user `@bcdevexchange` does not exist.

[2021-02-11 20:29] mlinksva commented on #863
It appears the main repo in that org may have been moved to https://github.com/bcgov/digital_marketplace/ and bcgov is already cataloged here.

[2021-02-11 20:31] mlinksva commented on #863
I'm wrong, they're related, but the bcdevexchange org may now be ExchangeBC.

[2021-02-11 20:35] #863 closed, assigned to nobody

[2021-03-07 17:22] RethinkPlasticOrg opened #867 "Revised protect timelines"

[2021-05-13 19:43] #867 closed, assigned to nobody

[2021-07-09 07:06] Ainali opened #877 "Map organizations to the accounts"
[This list of accounts](https://github.com/github/government.github.com/blob/gh-pages/_data/governments.yml) is really impressive, but since they aren't mapped to which organization they belong to, it's hard to reuse the data in any kind of automated way (like batch importing it to Wikidata). Can it be added as a key for each account?

[2021-07-11 22:18] mlinksva commented on #877
@Ainali the government organization/agency a GitHub organization (not user, though they share the same namespace) corresponds to should be indicated in the the GitHub organization's profile, see https://github.com/github/government.github.com/blob/gh-pages/.github/PULL_REQUEST_TEMPLATE.md and that info is available via the GitHub API eg https://api.github.com/users/cifasis which I suspect could be

[2021-08-21 03:28] unnati914 commented on #803
I can work on this

[2021-09-03 14:03] LockhartTech opened #881 "Broken Link on government.github.com"
Your webpage https://government.github.com has a couple links to the URL below.
https://government-community.githubapp.com/

This link produces an error.

[2021-09-08 15:46] WavingCatDevs opened #883 "Broken links"
Broken Heroku links in the images below

![Image](https://user-images.githubusercontent.com/69034430/132541680-2fc7c703-1dc9-4c57-a93b-7ab3102533e8.PNG)

![Image](https://user-images.githubusercontent.com/69034430/132541740-7aaec047-3b77-4c5c-a3a7-d8a2bae8221b.PNG)

![Image](https://user-images.githubusercontent.com/69034430/132541829-4d9a45bf-8c5a-409e-b855-5cf7f82d3cd8.PNG)

[2021-09-18 14:31] KamalSinghKhanna commented on #883
hey! I would like to fix this. can you tell me that where these links point.

[2021-09-18 16:23] WavingCatDevs commented on #883
https://government-community.githubapp.com/

[2021-09-19 04:46] KamalSinghKhanna commented on #883
@WavingCatDevs how can we solve this?

[2021-09-19 08:05] WavingCatDevs commented on #883
There's no way unless the github staff does

[2021-11-28 11:23] ghost opened #889 "Update 60-days-stale-check.yml"
Update 60-days-stale-check.yml

_Originally posted by @Vendetta26 in https://github.com/github/docs/issues/11805#issuecomment-981067651_

[2021-11-28 11:24] #889 closed, assigned to nobody

[2021-11-28 11:28] 11997777 commented on #889
Kc

[2022-02-08 19:11] mlinksva commented on #883
These links work now!

[2022-02-08 19:11] #883 closed, assigned to nobody

[2022-02-08 19:11] mlinksva commented on #881
These links work now!

[2022-02-08 19:11] #881 closed, assigned to nobody

[2022-02-09 15:40] WavingCatDevs commented on #883
Thank you

[2022-02-20 01:22] HoldenPCaulfield commented on #877
thanks for doing all this work.  It is very impressive and just shows how difficult it is to track the activities of our Government.

[2022-03-25 05:22] nicolasmartin-prog opened #914 "H"

[2022-04-06 15:30] #914 closed

[2022-04-09 05:24] nicolasmartin-prog opened #916 "platform/superproject - Android Code Search"
https://cs.android.com/android/platform/superproject/+/master/curl.se/download.htmlhttps:

[2022-04-09 20:54] kydchen commented on #877
test

[2022-04-15 04:48] nicolasmartin-prog opened #919 "Check out "Gboard – the Google Keyboard""
https://play.google.com/store/apps/details?id=com.google.android.inputmethod.latin

[2022-07-30 19:30] thaiwab11 opened #930 "thaiwab11@gmail.com"

[2022-07-30 23:25] hussain2022a commented on #930
Hussain

[2022-07-31 22:55] #930 closed

[2022-08-09 11:45] michaelpearsonHO opened #932 "Add additional UK Home Office organisations"
Add additional UK Home Office organisations:
[code]

[2022-08-15 15:39] mlinksva commented on #932
I welcome a pull request or pull requests to add the ones that have [any public repos](https://github.com/github/government.github.com/blob/23fd556dad4ab8e6c8fd3432a75fee6ddae67a73/.github/PULL_REQUEST_TEMPLATE.md).